# build
anno2xlsx

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Out of repo
backup/
基因库-更新版基因特征谱-加动态突变-20190110.xlsx*
全外疾病背景更新V3*

# JetBrains GoLangd
.idea

test