# This file is a template, and might need editing before it works on your project.
# To contribute improvements to CI/CD templates, please follow the Development guide at:
# https://docs.gitlab.com/ee/development/cicd/templates.html
# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Go.gitlab-ci.yml

image: golang:latest

variables:
  # Please edit to your GitLab project
  REPO_NAME: gitlab.genomics.cn/wangyaoshen/anno2xlsx

# The problem is that to be able to use go get, one needs to put
# the repository in the $GOPATH. So for example if your gitlab domain
# is gitlab.com, and that your repository is namespace/project, and
# the default GOPATH being /go, then you'd need to have your
# repository in /go/src/gitlab.com/namespace/project
# Thus, making a symbolic link corrects this.
#before_script:
  #- bash #cd $CI_PROJECT_DIR
  #- #mkdir -p $GOPATH/src/$(dirname $REPO_NAME)
  #- #ln -svf $CI_PROJECT_DIR $GOPATH/src/$REPO_NAME
  #- #cd $GOPATH/src/$REPO_NAME

stages:
  - test
  - build
  - deploy

github:
  stage: deploy
  script:
    #- git remote add github git@github.com:liserjrqlxue/anno2xlsx.git
    - Get-Location
    #- ssh-keygen
    # develop
    - git checkout develop
    - git pull
    #- git pull origin master
    - git push github --all
    - git push github --tags
    # master
    - git checkout master
    - git pull
    #- git pull origin master
    - git push github --all
    - git push github --tags
    
