# build
anno2xlsx
MT/MT
addDiseaseInfo2CNV/addDiseaseInfo2CNV
addDiseaseInfo2SNV/addDiseaseInfo2SNV
buildDb/buildDb
snv2xlsx/snv2xlsx
tier1tags/tier1tags

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Out of repo
backup/
db/

# JetBrains GoLangd
.idea

test
