[annotation.hpo]
file = "gene2hpo.txt"
mainKey = "entre-gene-id"
titleKey = ["HPO-Term-ID", "HPO-Term-NameCN"]
title = ["hpo", "hpo_cn"]

[annotation.REVEL]
file = "revel.lite.tsv.gz"
key = ["Stop", "Ref", "Call"]
keyIndex = [1, 2, 3]
title = ["REVEL_score"]
titleIndex = [4]

[annotation.GnomAD.MT]
file = "gnomad.genomes.v3.1.sites.chrM.reduced_annotations.tsv.db"
mainKey = "MTmut"
titleKey = ["AC_hom", "AC_het", "AF_hom", "AF_het", "AN"]
title = ["MT_AC_hom", "MT_AC_het", "MT_AF_hom", "MT_AF_het", "MT_AN"]

[annotation.Gene.spectrum]
file = "V4.3.1(2021Q1) 基因库-202100303-修正别名问题导致的PVS1基因list.xlsx.突变谱汇总.json.aes"
type = "json"
codeKey = "****"
titleKey = ["突变谱"]
title = ["突变频谱"]

[annotation.Gene.disease]
file = "全外疾病库2021.Q1-2021.5.6.xlsx.更新后全外背景库（5816疾病OMIMID，4489个基因）.json.aes"
type = "json"
codeKey = "****"
titleKey = [
    "Disease NameEN",
    "Disease NameCH",
    "Alternative Disease NameEN",
    "Location",
    "Gene/Locus",
    "Gene/Locus MIM number",
    "Inheritance",
    "GeneralizationEN",
    "GeneralizationCH",
    "SystemSort",
    "lab-翻译",
    "发病年龄",
    "imprinted gene/Expressed Allele",
    "Phenotype MIM number",
]
title = [
    "DiseaseNameEN",
    "DiseaseNameCH",
    "AliasEN",
    "Location",
    "Omim Gene",
    "Gene/Locus MIM number",
    "ModeInheritance",
    "GeneralizationEN",
    "GeneralizationCH",
    "SystemSort",
    "Lab-CH",
    "Onset age",
    "imprinted gene",
    "OMIM_Phenotype_ID",
]

[acmg]
list = "acmg.db.list.txt"
59gene = "ACMG59Gene.list"

[template.tier1]
filter_variants="Tier1.filter_variants.txt"
exon_cnv="Tier1.exon_cnv.txt"
large_cnv="Tier1.large_cnv.txt"

[template.tier3]
title = "Tier3.总表.txt"

[redis]
addr="10.2.1.4:6380"

[wesim]
resultColumn=[
    "Gene Symbol",
    "#Chr+Stop",
    "MutationName",
    "Zygosity",
    "自动化判断",
    "DiseaseName/ModeInheritance",
    "IsACMG59"
]
qcColumn=[
    "样本编号",
    "原始数据产出（Mb）",
    "目标区长度（bp）",
    "目标区覆盖度",
    "目标区平均深度（X）",
    "目标区平均深度>4X位点所占比例",
    "目标区平均深度>10X位点所占比例",
    "目标区平均深度>20X位点所占比例",
    "目标区平均深度>30X位点所占比例",
    "bam文件路径",
    "核型预测"
]